/******************************* 
GOOGLE FONTS
********************************/


/******************************* 
GENERAL
********************************/
* {
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

/******************************* 
VARIABLES
********************************/
:root {
    --main: #173444;
    --main-light: #1f4764;
    --main-dark: #0e1f2b;
    --bg: #f4f7f9;
    --bg-light: #ffffff;
    --text-dark: #173444;
    --text-light: #f4f7f9;
    --border: #b0c4de;
}

img {
    width: 100%
}

section {
    padding: 3rem 0 2rem;
}

a {
    text-decoration: none;
}

li {
   list-style-type: none; 
}

.container {
   max-width: 960px;
   margin: auto;
   width: 100%;
}

/*******************************
HEADER
********************************/
header {
    background-color: var(--bg-light);
    color: var(--text-dark);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.logo {
    display: flex;
}
.logo-text {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--main);
    margin-left: 1rem;
    transform: translateY(1rem);
}

.logo img {
    width: 4rem;
    height: auto;
}

.info {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.contact {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: transform 0.3s ease;
}

.contact:hover {
    transform: translateY(-2px);
}

.contact i {
    font-size: 1.3rem;
    color: var(--main);
}

.contact a {
    color: var(--text-dark);
    font-size: 0.9rem;
    transition: color 0.3s ease;
}

.contact a:hover {
    color: var(--main-light);
}

/*******************************
NAVBAR
********************************/
.navbar {
    background: var(--main);
    padding: 0.5rem 0;
}

.navbar ul {
    display: flex;
    justify-content: center;
    justify-content: flex-end;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.navbar li {
    margin: 0;
}

.navbar a {
    display: block;
    padding: 0.8rem 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--text-light);
    font-size: 0.9rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar a:hover {
    background-color: var(--main-light);
    color: var(--bg-light);
}

/*******************************
CARROUSEL HEADER
********************************/
.head-img {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.head-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.head-img img.active {
    opacity: 1;
}

/*******************************
ABOUT US
********************************/
.about-us {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding: 2rem;
    gap: 2rem;
    color: var(--main);
    margin: 0 auto;
    max-width: 1200px;
}

.about-text {
    flex: 1;
    max-width: 60%;
    text-align: justify;
}

.title {
    font-size: 2.5rem;
    color: var(--main);
    font-weight: 600;
    margin: 3rem 0 2rem 0;
    text-align: center;
}

.subtitle {
    font-size: 2rem;
    font-weight: 600;
    color: var(--main);
    margin: 2rem 0 1.5rem 0;
}

.about-text p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.btn-about {
    background-color: var(--main);
    color: var(--text-light);
    padding: 0.5rem 1rem;
    border: 2px solid var(--main-dark);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.5rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 2rem auto 0;
}

button:hover {
    background-color: var(--main-light);
}

.about-img {
    flex: 1;
    max-width: 40%;
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}

.about-img img {
    width: 80%;
    height: 90%;
}

/*******************************
SERVICES
********************************/
.services {
    text-align: center;
    padding-bottom: 1rem;
}

.service {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.service-box {
    background-color: var(--bg);
    border: 2px solid var(--border);
    border-radius: 8px;
    padding: 2rem 1rem;
    width: 250px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-img {
    width: 12rem; 
    height: auto;
    margin-bottom: 1rem;
}

.service-name {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--main);
}

.btn-services {
    background-color: var(--main);
    color: var(--text-light);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-services:hover {
    background-color: var(--main-light);
}

/*******************************
VISIT US
********************************/
.visit-us {
    background: var(--main);
    margin: 2rem 0;
    padding: 1rem;
}
.visit-subtitle {
    text-align: center;
    font-size: 2rem;
    color: var(--bg);
}

/*******************************
CONTACT US
********************************/
.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    max-width: 960px;
    margin: 0 auto;
}

.contact-title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    margin-top: 0;
    text-align: center;
}

.contact-content {
    display: flex;
    justify-content: space-between; 
    width: 100%;
    gap: 2rem;
}

.map-container,
.form-container {
    flex: 1;
}

.map-container iframe {
    width: 100%; 
}

.form-container {
    max-width: 400px; 
}

.form-group {
    margin-bottom: 1rem;
}

.row {
    display: flex;
    justify-content: space-between;
}

.half {
    flex: 1;
    margin-right: 10px;
}

.half:last-child {
    margin-right: 0;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--border);
    border-radius: 5px;
}

input[type="checkbox"] {
    margin-right: 1rem;
    margin-bottom: 1.5rem;
}


.btn-submit {
    background-color: var(--main);
    color: var(--text-light);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: var(--main-light);
}

/*******************************
FOOTER
********************************/
.footer {
    background-color: var(--main);
    color: var(--text-light);
    padding: 1.5rem 0;
    margin-top: 1.5rem;
}

.footer-container {
    display: flex;
    justify-content: space-around; 
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo {
    flex: 1; 
    text-align: center;
    margin-top: 1rem;
}

.footer-logo-img {
    max-width: 100px; 
    margin-top: 0.5rem; 
}


.footer-contact,
.footer-legal {
    flex: 1;
}

.footer h3 {
    margin-bottom: 1rem;
}

.footer ul {
    padding: 0; 
}

.footer li {
    margin-bottom: 0.5rem;
}

.footer a {
    color: var(--text-light); 
}

.footer a:hover {
    text-decoration: underline;
}

/*******************************
RESPONSIVE
********************************/
@media (max-width: 900px) {
    .header,
    .navbar {
        padding: 0.5rem 5rem;
    }

    .about-us {
        flex-direction: column;
        align-items: center;
        padding: 0 5rem;
    }

    .about-text, .about-img {
        max-width: 100%;
    }

    .about-img {
        margin: 1rem 0;
    }

    .about-img img {
        width: 50%;
        height: auto;
    }

    .title {
        font-size: 2rem;
        margin: 2rem 0 1rem 0;
    }

    .subtitle {
        font-size: 1.5rem;
    }

    .about-text p {
        font-size: 1rem;
    }

    .btn-about {
        font-size: 1.2rem;
        position: static;
        transform: none;
        display: block;
        margin: 2rem auto;
    }

    .services .service {
        /* flex-direction: column; */
        align-items: center;
    }

    .service-box {
        width: 100%;
        max-width: 300px;
        margin-bottom: 1rem;
    }

    .contact-section {
        padding: 0 5rem;
    }

    .footer-contact {
        margin-right: 2rem;
    }
}

@media (max-width: 810px) {
    .info {
      display: flex;
      flex-direction: column; 
      align-items: flex-start; 
      gap: 10px; 
    }
  
    .contact {
      display: block;
    }
  
    .contact i {
      margin-bottom: 5px;
    }

    .btn-submit {
        margin-top: 1rem;
    }
}

@media (max-width: 662px) {
    .header {
        padding: 1.5rem 2rem;
    }
    /* services + pequeños */

}



.open-menu,
.close-menu {
    display: none;
}

@media (max-width: 580px) {
    .open-menu,
    .close-menu {
        display: block;
        cursor: pointer;
        margin: 1rem;
        font-size: 1.5rem;
        background-color: transparent;
    }

    .open-menu {
        color: var(--bg-light);
    }

    .close-menu {
        color: var(--bg-light);
    }

    .btn-menu {
        background: var(--main);
        margin: 0;
        padding: 0.3rem;
    }

    .navbar {
        /* display: none; */
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        padding: 2rem;
        bottom: 0;
        z-index: 1;
        box-shadow: 0 0 0 100vmax rgba(0,0,0,0.5);
        opacity: 0;
        visibility: hidden;
    }

    .navbar.visible {
        opacity: 1;
        visibility: visible;
    }

    .navbar-list {
        flex-direction: column;
        align-items: end;
    }

}

@media (max-width: 450px) {
    .logo-text {
        font-size: 1.5rem;
    }

    .contact a {
        font-size: 0.75rem;
        margin-left: 1rem;
    }

    .contact i {
        font-size: 0.75rem;
    }
}

